
body * {  box-sizing: border-box;}
body {  margin:0; text-align: center;font-family: "open-sans",sans-serif; font-style: normal; font-weight: 300;}
img { max-width: 100%; height: auto;}
.wide-cont { width: 90%; margin: 0 auto; max-width: 1215px}
.mid-cont { width: 80%; margin: 0 auto; max-width: 1100px;}
.mobile { display: none;}

ul {  list-style:none; padding:0;}
a { color: #1AA2D1; text-decoration: none;}
.blue { color: #1AA2D1;}

.nimbus {   font-family: "nimbus-sans"; font-weight:400; font-style: normal; font-size: 11px; line-height: 17.5pt;}
.bold-type {font-family: "open-sans",sans-serif; font-style: normal; font-weight: 400; }
.bolder-type { font-family: "open-sans",sans-serif; font-style: normal; font-weight: 600;  }
*:focus { border: 0;  outline:none;}



header, .footer-wrapper {  width: 100%; margin: 0 auto; padding: 10px 3%;text-align:left;}
.page-id-13 header {  padding-top: -113px;}
header {  margin-bottom:100px;}
header .logo {  width: 150px; display: inline-block;}
header .logo img {  max-width: 100%;}
header .main-nav.desktop {  float:right;}
header .main-nav.desktop li { display: inline-block; padding: 0 20px; font-size: 15px;}
header .main-nav.desktop a {  text-decoration:none; color:black;}

footer { background-color: #231F20; padding: 20px 0; }
footer .section { display:inline-block; width: 24%; text-align: center; vertical-align: top}
footer a {  color: inherit;}
footer .section h3 { color: white; text-transform: uppercase; font-size: 19px; font-weight:400;}
footer .section img { margin-bottom: 15px;}
footer .section p { color:white; font-size: 16px; margin:0;}
footer .section.social p {  font-size: 12px; font-weight: 400;}
footer .section.social img {  margin: 0 5px 25px;}
.pre-footer-cta, .post-header-cta-wrapper {  width: 100%; background-color: #F0F0F1; text-align: center; padding: 10px 0;}
.pre-footer-cta button, .pre-footer-cta a, .post-header-cta button, .post-header-cta a, .pre-footer-cta input[type="email"]  {  background-color: #1AA2D1; color:white; padding: 5px 20px; -webkit-appearance: none; -moz-appearance: none; border: 0; border-radius: 5px; margin-left: 15px; font-size: 16px; cursor: pointer;}
.request-demo-form {  display:none; background: white;}
.request-demo-form .form-left,.request-demo-form .form-right { width: 49%; display: inline-block; padding: 3%; text-align: left;}
.request-demo-form input {  background: #F0F0F1; margin-bottom:20px; color:black;}
.request-demo-form input[type="submit"] { color:white;}
.request-demo-form label {  text-align: left;}
.newsletter-signup, .partner-signup {  display: inline-block;}
.mailchimp-signup { display: inline-block;}
.mailchimp-signup input.email { background-color: #93D8F7; color :white; text-align:left; -webkit-appearance: none; -moz-appearance: none; border: 0;  margin-left: 10px; width: 190px;}
.mailchimp-signup input[type="email"]::-webkit-input-placeholder, .mailchimp-signup input[type="email"]:-moz-placeholder, .mailchimp-signup input[type="email"]::-moz-placeholder, .mailchimp-signup input[type="email"]:-ms-input-placeholder { color: white; font-size: 18px; text-align: center; }
#mc-embedded-subscribe { width: 40px; -webkit-appearance: none; background-color: black; margin-left: -14px; border-radius: 3px; border: 0; color: white; height: 32px; display: inline-block; cursor:pointer;}
form .clear { display: inline-block; vertical-align: top}

h2 {  font-size: 47px;font-weight: 300;}
h3 { font-size: 29px;font-weight: 300;}
h4 { font-size: 21px;font-weight: 300;}
p {  font-size: 18px;font-weight: 300;}
.svg-container img {  width: 22%; height: auto; padding: 2%;}

/*Home page*/
.animation-text { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); text-align: center;}
.video-bg { position: absolute; z-index: -5; width: 100%; top: 0;}
.video-bg video { position: absolute; top: 0; left: 0;  width: auto; height: 100%;}
.rest-of-homepage { display: none; margin-top:-475px;}
.home.page footer{ display: none;}

.tech-intro { margin-top: 150px; margin-bottom:100px;}
.icon-container { margin-bottom: 100px;}
.icon-container svg { width: 24%;}

.client-testimonial-wrapper { background-image: url(../images/quote_photo.jpg); background-size: cover; color:white; margin-top:100px;}
.client-testimonial-carousel p {  font-size: 31px;}
.client-testimonial-carousel p.client-name {  font-size: 17px; padding-top: 50px; opacity: 0.5;}
.flexslider.client-testimonial-carousel { border:0; margin: 0 auto;background:transparent; border-radius:0; padding: 50px; box-shadow: none; -webkit-box-shadow: none;}
.header-slider .flexslider, .employee-quotes.flexslider { border:0; margin: 0 auto;background:transparent; border-radius:0; padding: 50px 0 0 0; box-shadow: none; -webkit-box-shadow: none; width: 100%;}

.client-wrapper { background: #F0F0F1; margin-bottom:100px;}
.client-wrapper ul {  margin: 0;}
.client-wrapper li {  width: 16%; padding: 2%; display: inline-block; vertical-align: middle}


/*Services Page*/
.single-service {width: 49%; display: inline-block; vertical-align: top; padding: 0 10%; }
.single-service img { max-width: 50%; display: block; margin: 0 auto 10px auto; min-width: 144px;}
.single-service h4 {  font-weight: 400; margin: 0;}
.single-service p { margin-top: 0;}

/*Case study grid (multi-page)*/
.case-study-wrapper { padding-top: 50px;}
.case-study-grid {  margin:75px 0;}
.case-study-grid .case-study {  width: 48%; display: inline-block; vertical-align: top; position: relative; margin: 0 2% 2% 0; }
.case-study-grid .case-study:nth-child(2n) {   margin-right: 0;}
.case-study-grid .case-study .photo { z-index: -1;}
.case-study-grid .case-study .photo img { widht: 100%; height: auto;}
.case-study-grid .case-study .color-overlay{  position: absolute; width: 100%; height: 98%; top: 0; opacity: 0; background-color: #1AA2D1;  transition: opacity 0.5s ease; ;}
.case-study-grid .case-study .text-overlay { position: absolute; width: 100%; top: 50%; transform: translate(0,-50%); opacity: 0; color:white; transition: opacity 0.5s ease; padding: 0 15px; font-size: 21px;}
.case-study-grid .case-study:hover .text-overlay { opacity: 1;}
.case-study-grid .case-study:hover .color-overlay{opacity: 0.75}

.case-study-grid .case-study .text-overlay a.learn-more {  border: 1px white solid; border-radius: 3px; padding: 5px; color:white; font-size: 18px;}
.case-study-grid .case-study .text-overlay a {  color: white;}
.case-study-grid .case-study .text-overlay h3 { margin: 0; font-weight: 400;}

/*About Page*/
.about-header { background-image: url(../images/about_header.jpg); padding: 120px 0 50px 0;  margin-top: -169px; color:white;background-repeat: no-repeat;  background-size: cover;}
.subnav-wrapper { background: #F2F2F2}
.subnav ul {  margin: 0 auto; width: 30%; padding: 20px 0;}
.subnav li {  display: inline-block; font-size:20px; width: 30%;}
.subnav a { color:black;}
.subnav a:hover { border-bottom: 2px #1AA2D1 solid;}

.page-id-13 header .main-nav.desktop a {  color:white;}
.about {  padding: 75px 0;}
.subnav.about { padding: 10px 0;}
.frontlines ul {  background: url('../images/about_arrow.png') 50% 0; background-repeat: no-repeat; margin: 50px 0;}
.frontlines li {  width: 49%; display: inline-block; vertical-align: top}
.frontlines li img { padding: 50px 0 30px 0; display: block; margin: 0 auto;}
.something-bigger { background-image: url('../images/something_bigger.jpg'); background-size: cover;}
.remarkability {  background: #EA665B; color:white;}
.team-member {  width: 32%; padding: 0 3%; display: inline-block; vertical-align: top; text-align: left; margin-bottom: 20px; font-family: "nimbus-sans"; font-weight:400 ; font-style: normal ; font-size: 11pt; line-height: 17.5pt;}
.team-member img {  border: 1px solid #F0F0F1;}
.team-member .header .info {  display: inline-block;  width: 75%;}
.team-member .name {  font-size: 20px; margin-bottom: 0; font-weight: 400; margin-top: 20px;}
.team-member .title { font-size: 18px; margin: 0;}
.team-member .icons { width: auto; display: inline-block; float:right; margin-top: 20px;}
.team-member .icons a {display: inline-block; vertical-align: middle; padding: 0 2px;}
.team-member .icons a.facebook { width: 15px;}
.team-member .icons a.twitter { width: 25px;}
.team-member .icons img { border: 0; width: 100%;}

/*Partners Page*/
.partner.featured { width: 49%; padding: 3%; display: inline-block; vertical-align: top}
.partner.featured .logo {  width: 18%; margin: 0 auto;}
.partner.featured.Kik .logo { width: 28%;}

.partner.data { width: 30%; padding: 3%; display: inline-block; vertical-align: middle;}


/*Contact Page*/
.contact h4 { padding-bottom: 50px;}
.contact .wpcf7 {  width: 70%; text-align: left; display: inline-block; vertical-align: top; padding: 0 10%;}
.contact form input, .contact form textarea { background: #EEEEEE; border-radius: 5px; width: 100%;  -webkit-appearance: none; -moz-appearance: none; border: 1px #CCCCCC solid; font-size: 18px; padding: 10px;}
.contact form input { height: 40px; }
.contact form input[type="submit"] {  width: 100px; background: #1AA2D1; border: 0; cursor:pointer;}
.contact ul { width: 29%; text-align: left; display: inline-block;vertical-align: top}
.contact ul li {  font-size: 18px; margin-bottom: 50px;}

.map {  background: url('../images/contact_map.png'); background-size: cover; padding: 30px 0;}
.map .location { width: 49%; display: inline-block; }
.map .location h4 {  font-size: 26px; text-transform: uppercase; font-weight: 600;color: #1AA2D1; margin:10px 0;}
.map .location a {  color: black;}
.map .location p {  font-size: 21px;}
.contact.big-logo { background:#1AA2D1 ; padding: 100px 0;}


/*Tehcnology*/
.deploy-manage-analyze {  background: #F0F0F1; padding: 50px 0; }

.deploy-manage-analyze ul { width: 40%; display: inline-block; text-align: left; float:right;}
body .deploy-manage-analyze ul li:first-child {  margin-top:0;}
.deploy-manage-analyze ul li:nth-child(2n+1) {  font-size:20px; color: #1AA2D1;margin-top:30px;}

.computer-container {  width: 520px; height: auto; display: inline-block; position: relative}
.computer-container img:first-child { width: 100%; height: 100%;}
.computer-container img:nth-child(2) { position: absolute;  top: 48px;  height: 67%;  left: 100px;  width: 61%;}
.home-page .computer-container {  width: 880px;}
.home-page .computer-container img:nth-child(2) { top:80px; left:166px;}

.work-smarter { padding: 50px 0;}
.work-smarter img { width: auto; height: 100%;}
.work-smarter ul {  width: 32%; display: inline-block; padding:5%; vertical-align: top;}
.work-smarter ul li:nth-child(2) { font-size:20px; margin: 20px 0; font-weight: 400;}

.emphasize-adaptability { background-color: #1AA2D1; color:white; padding: 50px 0;}

.computer-animation { position: relative; width: 880px; height: auto; margin: 0 auto;}
/*.computer-animation img { position: absolute; top: 0;width: 100%; height: 100%;}*/
.computer-animation video { position: absolute; top: 0;  width: 62%; left: 166px;  height: 100%;}



.maximum-effect { background: url('../images/technology_carousel_bg.jpg') rgba(0, 0, 0, 0.6); padding: 50px 0; background-size: cover;}

.dg-container{  width: 100%;  height: 450px;  position: relative; margin-top:75px;}
.dg-wrapper{  width: 481px; height: 316px;  margin: 0 auto; position: relative; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;  -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-perspective: 1000px;  -moz-perspective: 1000px;-o-perspective: 1000px;
  -ms-perspective: 1000px;  perspective: 1000px;  }
.dg-wrapper a{  width: 482px; height: 316px;  display: block; position: absolute; left: 0;  top: 0; background: transparent url(../images/browser.png) no-repeat top left;  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);}
.dg-wrapper a.dg-transition{  -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.dg-wrapper a img{display: block;/*padding: 41px 0px 0px 1px;*/}
.dg-wrapper a div{  font-style: italic; text-align: center; line-height: 50px;text-shadow: 1px 1px 1px rgba(255,255,255,0.5); color: #333;  font-size: 16px;  width: 100%;  bottom: -55px;  display: none;position: absolute;}
.dg-wrapper a.dg-center div{display: block;}
.dg-container nav{  width: 58px;  position: absolute; z-index: 1000;  bottom: 40px;left: 50%; margin-left: -29px; }
.dg-container nav span{ text-indent: -9000px; float: left;  cursor:pointer; width: 24px;  height: 25px; opacity: 0.8; background: transparent url(../images/arrows.png) no-repeat top left; }
.dg-container nav span:hover{ opacity: 1; }
.dg-container nav span.dg-next{ background-position: top right; margin-left: 10px;}


/*Resrouces*/
.resources ul { font-size:21px; list-style: dash;}
.resources.subnav ul {  width: 55%;}
.resources.subnav ul li { width: 24%; font-weight: 400;}
.resources.subnav input { display: inline-block;}
.resources.subnav input#search {width: 66%; background: #F0F0F1; border: 0; text-align: center; padding: 5px; border-radius: 3px; font-size: 18px; vertical-align: top;color: black; text-align: left;}
.resources.subnav input#search::-webkit-input-placeholder, .resources.subnav input#search:-moz-placeholder, .resources.subnav input#search::-moz-placeholder, .resources.subnav input#search:-ms-input-placeholder { color: black; font-size: 18px; text-align: center; }
.resources.subnav input {width: 25%;width: 25%; -webkit-appearance: none;background-color: black; margin-left: -5px;  border-radius: 3px; border: 0;color: white; height: 34px;}
.resources.subnav li a.active { border-bottom: 2px #1AA2D1 solid;}

.blog-feed img {  width: 50%; display: inline-block; border-top:10px #1AA2D1 solid; vertical-align: top}
.share { display: inline-block; float:right;}
.blog-feed .ssba img {  display: inline-block; border: 0; vertical-align: middle; float:none; padding:3px;}
.ssba_sharecount {  display: none;}
.resources a {  font-size: 16px;color: black; font-weight: 400; vertical-align: middle; display: inline-block;}
.resources .share { float: right;}
.resources .counter-total {font-weight: 400;   right: 60px; font-size: 15px;position: absolute; margin-top: 3px;}
.blog-feed .excerpt { width: 49%; display: inline-block; padding-left: 2%; text-align: left; vertical-align: top}
.blog-feed .excerpt h4 {  margin-top: 0;}
.blog-feed .excerpt .bottom-cont { margin-top: 40px; position: relative}
.resources .post { margin: 40px 0; text-align:left;}
.resources .pagination a {  padding: 25px 25px; color: #1AA2D1; font-size: 20px;}

.resources.press .heading p { display: inline-block; padding-right: 10px; font-weight: 400}
.resources.press .heading p:first-child { text-transform: uppercase; color: #1AA2D1; font-size: 18px;}
.resources.press h4 { margin-top: 0; font-weight: 400; margin-bottom: 0;}

.single header { background-color: black; margin-bottom: 0;}
.single .main-nav.desktop a { color:white;}
.single .header-image { width: 100%; margin-bottom: -5px;}
.single .header-image img { width: 100%;}

p.back-to-feed {  text-align: left; margin-top: 20px; padding-left: 50px;}
p.back-to-feed a {  color: black;}
.single-casestudies .stats-wrapper {  background: #1AA2D1; margin-top: 50px;}
.single-casestudies .stats-wrapper ul { margin: 0; width: 30%; display: inline-block; padding: 50px 0;}
.single-casestudies .stats-wrapper li { color: white; font-weight: 400;}
.single-casestudies .stats-wrapper li:first-child { font-size: 29px;}
.tooltip {  width: 0;   height: 0;  border-left: 20px solid transparent;  border-right: 20px solid transparent; border-top: 20px solid #1AA2D1; position: absolute; left: 50%;  transform: translate(-50%, 0);}


.single-casestudies .bottom-content.half div {width: 49%; display: inline-block; vertical-align: middle; text-align: left; padding: 100px 3%;}
.single-casestudies .bottom-content.half .left p:first-child {  font-weight: 500; color: #1AA2D1;}
.single-casestudies .bottom-content.half .left p {  line-height: 1.5em;}
.single-casestudies .bottom-content img { width: auto; padding: 3%; vertical-align: top}

.single .blog-post {  padding: 50px 0; text-align: left;}
.single .blog-post  h3 {  font-size:31px; font-weight: 400; margin-bottom: 0;}
.single .blog-post .date { font-size:16px; font-weight: 400;}
.single .blog-post h5 { font-weight: 500; font-size: 18px; margin-bottom: -15px;}
.single .blog-post ul { list-style: disc; font-size: 18px; margin-left: 20px;}
.single .blog-post li { margin-bottom: 15px;}

.post-share div { width: 32%; padding: 3%; display: inline-block; vertical-align: top; margin-bottom: 50px;}
.post-share a { padding: 10px 75px;  border-radius: 5px;color: white;}
.post-share .facebook a { background-color: #2E3190;}
.post-share .twitter a {  background-color: #00ACED;}
.post-share .email a {  background-color: #404041;}

.author-wrapper { background-color: #F0F0F1; padding: 50px 0; border-bottom: 1px black solid;}
.author img.headshot { width: 30%; display: inline-block; vertical-align: top}
.author-info {  width: 69%; display: inline-block; text-align: left; padding: 0 3%; vertical-align: top;}
.author-info h5 { font-size: 18px; font-weight: 400; margin-top: 0;}
.author-info a {  width: 30px; display: inline-block;}

/*Careers Page*/
.header-slider.careers {  margin-top: -100px;}
.header-slider strong { display: none;}
.wide-cont.careers div{ width: 40%;text-align: left; position: absolute; z-index:10; left: 10%; top: 150px; }
.wide-cont.careers a {  width: 400px; padding: 3%; color:white; background-color: #b1aba9; border-radius: 5px; transition: background-color 0.5s ease;}
.mid-cont.benefits {  padding: 50px 0;}
.mid-cont.benefits h3 { font-weight: 400;}
.mid-cont.benefits .benefit {  width: 29%; padding: 20px 8%; display: inline-block; text-align: center; margin: 0 auto;}
.mid-cont.benefits .benefit img { display: block; margin: 0 auto 10px;}
.employee-quotes li { position: relative;}
.employee-quotes .quote { width: 40%; left: 10%; position: absolute; top: 0; font-size: 22px;}
.employee-quotes .quote p { font-size: 22px;}
.employee-quotes .quote .title {  font-size: 17px; font-weight :400;}








/*MEDIA QUERY FOR COMPUTERS WHEN MIDCONT REACHES 880PX*/
@media only screen and (max-width: 1100px) {
  .home-page .computer-container {  width: 600px;}
  .home-page .computer-container img:nth-child(2) {top: 54px; left: 113px; }
  .computer-animation { width: 600px; margin-bottom: 50px;}
  .computer-animation video  {top: -12px; left: 111px; height: 102%}
  .deploy-manage-analyze ul { width: 100%; display: block; float: none; text-align: center;}
  .deploy-manage-analyze .computer-container {  display: none; width: 100%;}
  .post-share div { width: 100%; display: block; margin: 20px auto; }
  .post-share a { padding: 10px 50px;}
}


@media only screen and (max-width: 950px) {
  .case-study-grid .case-study {  width: 100%; display: block; max-width: 600px; margin: 20px auto;}
  .case-study-grid .case-study:nth-child(2n) {  margin-right: auto;}
  .case-study-grid .case-study .text-overlay { opacity: 1; color: black;}
  .case-study-grid .case-study .color-overlay{opacity: 0.75; background-color: rgba(255,255,255,1.75); height: 99%;}
  .case-study-grid .case-study .text-overlay a {  color: black;}
  .case-study-grid .case-study .text-overlay a.learn-more { display: none;}
  .single-service { padding: 0 6%;}
}

/*MIDCONT REACHES 600PX*/
@media only screen and (max-width: 750px) {
  .mid-cont { width: 90%;}
  .wide-cont {  width: 90%;}
  .desktop{ display: none;}
  .mobile { display: block;}
  .animation-text { width: 90%;}
  h2 {  font-size: 37px;}
  h3 { font-size: 29px;}
  h4 { font-size: 21px;}
  p {  font-size: 18px;}
  /*header nav*/
  .main-nav.desktop { display: none;}
  .main-nav.mobile {  display: block; }
  .main-nav.mobile {  display: inline-block; float:right;}
  .main-nav.mobile a {  color: #1AA2D1; }
  .main-nav.mobile a img {  width: 50px;}
  .main-nav.mobile .sidr { background-color: #1AA2D1; -webkit-box-shadow: none; box-shadow: none;}
  .main-nav.mobile .sidr a {  color: white;}
  .main-nav.mobile .sidr ul li {  border-bottom: 0; border-top: 0;}
  .main-nav.mobile .sidr ul { border-bottom: 0;}
  .main-nav.mobile .sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span { -webkit-box-shadow: none; box-shadow: none;}
  .main-nav.mobile .sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active { line-height: 48px}
  /*footer*/
  footer .section { display: block; width: 100%; margin: 0 auto;}
  footer .careers img, footer .contact img, footer .partners img, footer p  { display: none;}
  footer .social p {  display: block;}
  /*common*/
  .pre-footer-cta { display: none;}
  /*homepage*/
  .rest-of-homepage { margin-top: -385px;}
  .icon-container img { width: 50%; padding: 0 10%;}
  .client-testimonial-wrapper { background-image: url('../images/quote_photo_mobile.png');}
  .client-wrapper li {  width: 30%;}
  .wide-cont.clients {  padding: 40px 0 25px 0;}
  .flexslider.client-testimonial-carousel { padding: 50px 0; width: 90%;}
  .client-testimonial-carousel p {  font-size: 21px;}
  /*services*/
  .single-service { padding: 20px 0; display: block; width: 100%; max-width: 400px; margin: 0 auto;}
  .single-service img { width: 144px;}
  /*partners*/
  .partner.featured { display: block; width: 100%;}
  .partner.data { width: 49%; padding: 0 10%;}
  /*technology*/
  .work-smarter ul {  width: 100%; display: block;}
  /*resources*/
  .resources.mid-cont h4, .resources.mid-cont ul {  display: none;}
  .resources.mid-cont.subnav ul { display: inline-block; width: 100%;}
  .resources.mid-cont.subnav ul li {  width: 32%;}
  .resources.mid-cont.subnav.blog ul li:last-child { display: none;}
  .blog.resources img, .blog-feed .excerpt .bottom-cont { display: none;}
  .blog-feed .excerpt { width: 100%; display: block;}
  .blog-feed .excerpt p { border-bottom: 2px #1AA2D1 solid; padding-bottom: 25px;}
  .blog-feed .post:nth-child(4) .excerpt p {  border-bottom: 0; padding-bottom: 0;}
  .blog-feed .excerpt h4 {  margin-bottom: 0; font-weight: 400;}
  .pre-footer-cta.mobile {  display: block;}
  .pre-footer-cta.mobile .newsletter-signup,.pre-footer-cta.mobile .mailchimp-signup { display: block; margin-bottom: 20px;}
  .resources-feed.case-study-grid { margin-top: 50px;}
  .resources-feed.case-study-grid .case-study .color-overlay { display: none;}
  .resources-feed.case-study-grid .case-study .text-overlay { background-color: #F0F0F1; position: relative; transform: none; margin-top: -5px;}
  .resources-feed.case-study-grid .case-study .text-overlay h3 {  padding-top: 10px;}
  .single-casestudies .stats-wrapper ul { width: 100%; display: block;}
  .single-casestudies .bottom-content.half div {  width: 100%; display: block; padding: 25px 0;}
  .single .blog-post {  padding: 25px 0;}
  /*contact page*/
  .contact .wpcf7 { width: 100%; padding: 0;}
  .contact ul { width: 100%; text-align: center;}
  .map .location {  width: 100%; display: block;}
}

@media only screen and (max-width: 666px) {
  .home-page .computer-container {  width: 400px;}
  .home-page .computer-container img:nth-child(2) {top: 36px; left: 75px; }
  .icon-container svg { width: 35%;}
  .computer-animation { width: 400px;}
  .computer-animation video { top: -11px; left: 74px;}
}

@media only screen and (max-width: 444px) {
  .home-page .computer-container {  width: 300px;}
  .home-page .computer-container img:nth-child(2) {top: 27px; left: 57px; height: 66%; }
}
